.toast {
  font-size: 16px;
  font-style: italic;
  display: flex;
  align-items: center;
}

.toast h3 {
  padding: 10px;
  border-radius: 10px;
}

.toast .success {
  border: 3px solid green;
  color: green;
}

.toast .error {
  border: 3px solid red;
  color: red;
}
